@charset "utf-8";
body {
    margin: 0;
    padding: 0;
    font-size: 15px;
    line-height: 2;
}

.arrow-right {
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid white;
    display: inline-block;
    margin-left: 5px;
}

p, h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
}

ul {
    margin: 0;
    padding: 0;
}

header {
    width: 960px;
    height: 100px;
    margin: 0 auto;
}

.logo {
    float: left;
    margin-top: 50px;
}

.global-nav {
    float: right;
    margin-top: 60px;
}

.global-nav li {
    float: left;
    margin: 0 20px;
    font-size: 20px;
    list-style: none;
}

.button {
    background-color: #EB6100;
    border: none;
    color: white;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 40px;
}